<div class="conteiner-fluid p-2 d-flex justify-content-between" style="background-color: rgb(160, 97, 107);">
  <div class="container button_contain">
    <button type="button" class="btn btn-default btn-dark mr-2"
        popover="Робочі години 9.00-18.00
                        вихідні:Субота, Неділя"
        popoverTitle="+38 (097) 577-08-88"

        placement="top">
        Звоніть
    </button>
    <button type="button" class="btn btn-secondary mr-2" [routerLink]="[ '/map' ]">Контакти</button>
    <button type="button" class="btn btn-light">Замовити</button>
  </div>
<a class="face_link" style = "width: 48px; height: 48px; background-image: url('./../../../assets/images/icons8-facebook-новый-48.png'); background-position: center; background-size: cover; background-repeat: no-repeat;" href="https://www.facebook.com/oliralviv888" class="text-primary" target="_blank
"></a>

</div>
