<div class="container-fluid p-3 d-flex flex-column justify-content-around align-items-cente">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.606910762404!2d24.008664615096205!3d49.83105287939467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add7c31c7be69%3A0x5b7de9065791ca38!2z0LLRg9C70LjRhtGPINCG0LLQsNC90LAg0JvQtdCy0LjQvdGB0YzQutC-0LPQviwgNSwg0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1599844173773!5m2!1suk!2sua"  class="map" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<div class="info mt-5 p-2">
    <p class="phone">Телефон:+38 (097) 577-08-88</p>
    <p><a href="https://mail.google.com/mail/u/0/#inbox?compose=new" class="text-primary">olira.lviv@gmail.com</a></p>
</div>
</div>
