<div class="container-fluid p-4">
    <div class="row row-cols-2 bg-transparent">
        <div class="col-md-3 col-12 ">
            <div class="card" style="background-color: rgba(233, 221, 167, 0.5);">
              <img src="./../../../assets/images/portret.jpg" class="card-img-top" alt="...">
              <div class="card-body bg-transparent">
                <h3 class="card-title">Про мене</h3>
                <p class="card-text bg-transparent overflow-auto" style="height: 30vh;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae corrupti commodi modi, asperiores beatae ex inventore autem eveniet ullam ad vero hic fuga nobis blanditiis voluptatem, quis quasi architecto iure velit cum voluptas molestias doloremque!</p>
              </div>
            </div>
          </div>
          
        <div class="card bg-transparent text-white col-md-9 col-12 p-2">
            <carousel>
                <slide>
                  <img src="./../../../assets/images/carussel1-min.jpg" alt="first slide" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h2 style="background-color: rgba(233, 221, 167, 0.7);">Моделювання одягу в етностилі</h2>
                    <p style="background-color: rgba(233, 221, 167, 0.7);" class="text-dark font-weight-bold">Дизайн, проектування, пошук стилю відповідно до регіону, пошук візерунків</p>
                  </div>
                </slide>
                <slide>
                  <img src="./../../../assets/images/carussel2-min.jpg" alt="second slide" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h2 style="background-color: rgba(233, 221, 167, 0.4);">Реконструкція</h2>
                    <p style="background-color: rgba(233, 221, 167, 0.7);" class="text-dark font-weight-bold">Підбір автентичних матеріалів, відтворення стародавніх взорів</p>
                  </div>
                </slide>
                <slide>
                  <img src="./../../../assets/images/carussel3-min.jpg" alt="third slide" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h2 style="background-color: rgba(233, 221, 167, 0.5);">Вишивка</h2>
                    <p style="background-color: rgba(233, 221, 167, 0.7);" class="text-dark font-weight-bold">Широкий вибір взорів та кроїв, моделювання</p>
                  </div>
                </slide>
                <slide>
                  <img src="./../../../assets/images/carussel4-min.jpg" alt="third slide" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h2 style="background-color: rgba(233, 221, 167, 0.5);">Дитячий одяг</h2>
                    <p style="background-color: rgba(233, 221, 167, 0.7);" class="text-dark font-weight-bold">Цікаві фасони, оригінальна вишивка</p>
                  </div>
                </slide>
                <slide>
                  <img src="./../../../assets/images/carussel5-min.JPG" alt="third slide" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h2 style="background-color: rgba(233, 221, 167, 0.5);">Костюми для колективів</h2>
                    <p style="background-color: rgba(233, 221, 167, 0.7);" class="text-dark font-weight-bold">Яскраві рішення, самобутні фасони</p>
                  </div>
                </slide>
                <slide>
                  <img src="./../../../assets/images/carussel7-min.jpg" alt="third slide" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h2 style="background-color: rgba(233, 221, 167, 0.5);">Декор інтер'єрів</h2>
                    <p style="background-color: rgba(233, 221, 167, 0.7);" class="text-dark font-weight-bold">Елементи, що додають затишок</p>
                  </div>
                </slide>
              </carousel>
        </div>

</div>
<div class="addInfo">
  <ul type="disk">
    <li>Моделювання одягу в етностилі</li>
    <li>Реконструкція</li>
    <li>Вишивка</li>
    <li>Дитячий одяг</li>
    <li>Костюми для колективів</li>
    <li>Декор інтер'єрів</li>
  </ul>
</div>
