<form [formGroup]="addCategoryForm" class="border-0 " (ngSubmit)="addCategory()">
  <div class="form-group">
    <div class="form-group">
      <!-- <label for="nameUA">Name ua</label> -->
      <input formControlName="nameUA" placeholder="Назва категорії українською"   type="text"  class="form-control">
    </div>
    <div [hidden]="!checkNameUA(addCategoryForm)" class="alert alert-danger">Таке ім'я вже існує</div>
    <div class="form-group">
      <!-- <label for="nameEN">Name en</label> -->
      <input formControlName="nameEN"  type="text" aria-label="nameEN" aria-describedby="addon-wrapping" placeholder="Name of category in English" class="form-control">
    </div>
    <div [hidden]="!checkNameEN(addCategoryForm)" class="alert alert-danger">Таке ім'я вже існує</div>
    <button class="btn btn-success"  [disabled]="!addCategoryForm.valid||checkNameUA(addCategoryForm)" type="submit">ADD</button>

    </div>
</form>
<div class="container">

<div class=" row justify-content-end">
  <div class="col-6">
<table class="table table-dark table-sm"  >
    <tr class="text" *ngFor="let item of cloudCategories" >
      <td></td>
      <td>{{item.id}}</td>
      <td> {{item.nameUA}}</td>
      <td> {{item.nameEN}}</td>
      <td><button type="button" class="btn btn-danger m-2" (click)="deleteCategory(item)">Delete</button></td>
      <!-- <td><button type="button" class="btn btn-warning m-2" (click)="editCategory(item)">Edit</button></td> -->
      
    </tr>
  </table>
</div>
</div>
</div>
